<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BANCO.Properties.Settings.stringSqlServer" connectionString="Data Source=ORION\SQLEXPRESS;Initial Catalog=K-BOL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>